/* common */
body{box-sizing: border-box;}
.blind {visibility: hidden; text-indent: -10000px; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; margin: -1px;}
.wrap {overflow: hidden; min-width: 1140px;}
.inner {
    position: relative;
    width: 1070px;
    margin: 0 auto;
    /* border: 2px solid red; */
}


/* header */
.skipNavi {height: 0;}
.skipNavi > a {
  display: block;
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 200;
  width: 100%;
  padding: 4px 0;
  border: 0 none;
  background: #413022;
  color: #fff;
  text-align: center;
}
header {
    height: 90px;
    background-color: #09b3d3;
}
header .logo {padding: 30px 0 0;}
header .gnb {
    position: absolute;
    top: 22px;
    right: 118px;
    /* border: 2px solid yellowgreen; */
}
header .gnb li {float: left;}
header .gnb li a {
    display: block;
    position: relative;
    width: 210px;
    height: 39px;
    text-align: center;
}
header .gnb li a::after{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    height: 39px;
    background: no-repeat 0 0;
    opacity: 0;
    transition: opacity .4s linear;
}
header .gnb li.gnb_list01 a::after{
    left: 30px;
    width: 150px;
    background-image: url(../img/gnb01_on.png);
}
header .gnb li.gnb_list02 a::after{
    left: 23px;
    width: 163px;
    background-image: url(../img/gnb02_on.png);
}
header .gnb li.gnb_list03 a::after{
    left: 17px;
    width: 176px;
    background-image: url(../img/gnb03_on.png);
}
header .gnb li a:hover::after {opacity: 1;}
header .home_btn {
    /* border: 2px solid navy; */
    position: absolute;
    width: 100px;
    height: 90px;
    top: 0;
    right: 0;
    
}
header .home_btn::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 90px;
    left: 0;
    background-image: url(../img/btn_home_on.png);
    opacity: 0;
}
header .home_btn:hover::after{opacity: 1;}


/* container */
.container {
    background: url(../img/bg_summer_pat02.jpg) center 0 repeat-x;
}
.intro {
    position: relative;
    padding: 0;
    margin: 0;
    height: 861px;
    /* background: url(../img/bg_summer.jpg) center 0 no-repeat; */
}
.intro a {
    position: absolute;
    display: block;
    top: 154px;
    left: 50%;
    margin-left: -251px;
}
.intro a:hover{background: url(../img/btn_intro_on.png) no-repeat;}
.intro a span.ani_text {
    position: absolute;
    width: 100%;
    top: 57px;
    left: 0;
    text-align: center;
}
.intro a span.ani_text > span{
    display: inline-block;
    vertical-align: top;
    animation: 2s 2 normal linear text-jump;
    -webkit-animation: 2s 10 normal linear text-jump;
}
.intro a span.ani_text span:nth-child(1) {margin-top: 8px; animation-delay: 0s;}
.intro a span.ani_text span:nth-child(2) {margin-top: 12px; margin-left: -6px;}
.intro a span.ani_text span:nth-child(3) {margin-top: 4px; margin-left: -6px;}
.intro a span.ani_text span:nth-child(4) {margin-top: 0; margin-left: 1px;}
.intro a span.ani_text span:nth-child(5) {margin-top: 11px; margin-left: -7px;}
.intro a span.ani_text span:nth-child(6) {margin-top: 4px; margin-left: -7px;}
.intro a span.ani_text span:nth-child(7) {margin-top: 11px; margin-left: -7px;}
.intro a span.ani_text span:nth-child(8) {margin-top: 7px; margin-left: -4px;}
@keyframes text-jump {
    20% {transform: scale(1.5, 0.2) translateY(30px); }
    30% {transform: scale(0.8, 1.2) translateY(-40px); }
    35% {transform: scale(1.2, 0.8) translateY(-40px); }
    45% {transform: scale(1, 1); }
    60% {transform: scale(1, 1) translateY(0); }
}

.intro .bg_img_01{
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 50%;
    width: 447px;
    height: 267px;
    margin-left: -793px;
    background-image: url(../img/intro_bg_01.png) ;
}
.intro .bg_img_02 {
    /* border: 1px solid lightgreen; */
    position: absolute;
    top: 0;
    left: 50%;
    width: 1296px;
    height: 305px;
    margin-left: 255px;
    background-image: url(../img/intro_bg_02.png) ;
}
.intro .bg_img_03 {
    /* border: 1px solid orange; */
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 602px;
    height: 435px;
    margin-left: -1161px;
    background-image: url(../img/intro_bg_03.png) ;
}
.intro .bg_img_04 {
    /* border: 1px solid hotpink; */
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1355px;
    height: 287px;
    margin-left: -104px;
    background-image: url(../img/intro_bg_04.png) ;
}
.intro .firework{
    position: absolute;
    left: 50%;
    margin-left: -257px;
    animation: firework 1.4s linear infinite normal ;
}
.intro .firework.img01{top: 130px; margin-left: -257px;}
.intro .firework.img02{top: 305px; margin-left: 258px; animation-delay: 0.5s;}
.intro .firework.img03{top: 285px; margin-left: 597px; animation-delay: 1s;}
.intro .firework.img04{top: 600px; margin-left: -533px; animation-delay: 0.8s;}
.intro .firework.img05{top: 542px; margin-left: 325px; animation-delay: 1.2s;}
@keyframes firework {
    0% {transform: scale(0);}
    50% {transform: scale(1 , 1); opacity: 1;}
    75% {transform: scale(1.2 , 1.2); opacity: 0;}
    100% {transform: scale(0); opacity: 0;}

}

.product {
    position: relative;
    padding: 0 0 65px 0;
    margin: 0;
    background-color: #fdfbe1;
}
.product .title {
    text-align: center;
    padding: 69px 0 64px;
}
.product .title h2{
    font-size: 55px;
    color: #2f2f2f;
    font-family: 'Fredoka One', cursive;
}
.product .title p {
    letter-spacing: -1.5px;
    font-size: 28px;
    color: #63584e;
    font-family: 'Noto Sans KR', sans-serif;
}
/* .product_area {position: relative;} */
.product_slider{
    width: 600px;
    margin: 0 auto;
    height: 675px;
}
.product_slider .bx-wrapper {
    border: none;
    box-shadow: none;
}
.product_slider .bx-wrapper .bx-viewport {height: auto;}
.product_slider .bx-wrapper .slider_item li {
    background-color: #fdfbe1;
    text-align: center;
}
.product_slider .bx-wrapper .slider_item .text {
    display: block;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1.5px;
    margin-top: 20px;
    font-weight: 700;
}

/* slider button */
.product_slider .bx-wrapper .bx-controls .bx-controls-direction a {
    position: absolute;
    top: 267px;
    left: 50%;
    text-indent: -9999px;
    width: 87px;
    height: 86px;
}
.product_slider .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
    margin-left: -474px;
    background: url(../img/btn_prev.png) no-repeat 0 0;
}
.product_slider .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
    margin-left: 388px;
    background: url(../img/btn_next.png) no-repeat;
}
.product_slider .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:hover,
.product_slider .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:hover {background-position: 0 -86px;}

.product_slider .bx-controls .bx-pager{
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 50%;
    border: 1px solid #d4d1be;
    border-top: 0 none;
    width: 56px;
    margin-left: 313px;
    padding: 0;
    bottom: auto;
}
.product_slider .bx-controls .bx-pager .bx-pager-item {
    display: block;
    border-top: 1px solid #d4d1be;
    height: 56px;
}
.product_slider .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
    display: block;
    margin: 0;
    width: 56px;
    height: 100%;
    background-color: #fdfbe1;
    text-indent: -99999px;
}
.product_slider .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
    background-color: #d4d1be;
    border-radius: 0;
}

.product_area01 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(1) .bx-pager-link {
    background-image: url(../img/product_page_0101.png);
}
.product_area01 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(2) .bx-pager-link {
    background-image: url(../img/product_page_0102.png);
}
.product_area01 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(3) .bx-pager-link {
    background-image: url(../img/product_page_0103.png);
}
.product_area01 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(4) .bx-pager-link {
    background-image: url(../img/product_page_0104.png);
}

.product_area02 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(1) .bx-pager-link {
    background-image: url(../img/product_page_0201.png);
}
.product_area02 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(2) .bx-pager-link {
    background-image: url(../img/product_page_0202.png);
}
.product_area02 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(3) .bx-pager-link {
    background-image: url(../img/product_page_0203.png);
}
.product_area02 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(4) .bx-pager-link {
    background-image: url(../img/product_page_0204.png);
}
.product_area02 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(5) .bx-pager-link {
    background-image: url(../img/product_page_0205.png);
}
.product_area02 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(6) .bx-pager-link {
    background-image: url(../img/product_page_0206.png);
}

.product_area03 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(1) .bx-pager-link {
    background-image: url(../img/product_page_0301.png);
}
.product_area03 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(2) .bx-pager-link {
    background-image: url(../img/product_page_0302.png);
}
.product_area03 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(3) .bx-pager-link {
    background-image: url(../img/product_page_0303.png);
}
.product_area03 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(4) .bx-pager-link {
    background-image: url(../img/product_page_0304.png);
}
.product_area03 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(5) .bx-pager-link {
    background-image: url(../img/product_page_0305.png);
}
.product_area03 .product_slider .bx-controls .bx-pager .bx-pager-item:nth-child(6) .bx-pager-link {
    background-image: url(../img/product_page_0306.png);
}


.product_area01 .product_btn,
.product_area02 .product_btn,
.product_area03 .product_btn {
    text-align: center;
    padding-bottom: 65px;
}

.product .bg_img01{
    position: absolute;
    width: 306px;
    height: 284px;
    top: 272px;
    left: 50%;
    margin-left: -1140px;
    background-image: url(../img/product_bg_01.png);
}
.product .bg_img02 {
    position: absolute;
    width: 296px;
    height: 261px;
    top: 1240px;
    left: 50%;
    margin-left: 776px;
    background-image: url(../img/product_bg_02.png);
}
.product .bg_img03 {
    position: absolute;
    width: 1383px;
    height: 459px;
    bottom: 0;
    left: 50%;
    margin-left: -1678px;
    background-image: url(../img/product_bg_03.png);
}



/* footer */
footer {
    /* position: relative; */
    height: 140px;
    background-color: #363c43;
}
footer .inner .footer_list {padding-top: 20px; text-align: center;}
footer .inner .footer_list ul {display: inline-block; overflow: hidden;}
footer .inner .footer_text {line-height: 1.2;}
footer .inner .footer_list li,
footer .footer_text li, footer .footer_text P {
    float: left;
    padding-left: 19px;
    font-size: 12px;
    color: #AEAEAF;
    letter-spacing: -1.1px;
    font-weight: 600;
}
footer .inner .footer_list li:nth-child(4){
    color: #E9E387;
}
footer .inner .footer_list ul li::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin-left: 13px;
    background-color: #AEAEAF;
}
footer .inner .footer_list ul li:last-child::after{display: none;}
footer .inner .footer_text {overflow: hidden;text-align: center;}
footer .inner .footer_text ul {display: inline-block;}
footer .inner .footer_text p {float: none;}



