@charset "utf-8";

*{box-sizing: border-box;}
html, body{
	width: 100%;
    /* min-width: 851px; */
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: 0;
}
body {
    line-height: 1.5;
    color: #222;
    font-family: "aritaM", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
}
body, input, textarea, select, button, table, h1, h2, h3, h4, h5, h6 {
    font-family: "aritaM", "Malgun Gothic","맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif;
    color: #222;
    font-weight: normal;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: 0;
}
