@charset "utf-8";

.footer_wrap .sns_wrap{
    padding: 50px 0;
    text-align: center;
}
.footer_wrap .sns_wrap > li{
    display: inline-block;
    margin: 0 30px;
}
.footer_wrap .sns_wrap > li > a{
    display: block;
    width: 30px;
    height: 30px;

}
.footer_wrap .footer_inner {
    position: relative;
    padding: 27px 0 40px 354px;
}
.footer_wrap .footer_inner .footer_logo {
    position: absolute;
    top: 30px;
    left: 85px;
}
.footer_wrap .footer_inner .footer_menu > ul{
    display: flex; 
}

.footer_wrap .footer_inner .footer_menu > ul > li::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 0 8px 0 12px;
    vertical-align: middle;
    background-color: #999
}
.footer_wrap .footer_inner .footer_menu > ul > li:last-child::after{
    display: none;
}
.footer_wrap .footer_inner .footer_menu > ul > li > a{
    color: #222;
    font-size: 14px;

}
.footer_wrap .footer_inner .footer_info > p{
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

/* mark */
.footer_inner>.mark {
    /* border: 1px solid red; */
    display: inline-block;
    position: absolute;
    top: 26px;
    right: 495px;
}

.footer_inner>.mark>a>img {
    width: 60px;
}

/* lang_box */
.footer_wrap .footer_inner .lang_box {
    position: absolute;
    top: 30px;
    right: 85px;
}
.footer_wrap .footer_inner .lang_box > a{
    border: 1px solid #a5a298;
    font-size: 14px;
    padding: 13px 20px;
    width: 222px;
    height: 46px;
    display: block;
} 
.footer_wrap .footer_inner .lang_box > a > span{
    display: block;
    color: #222222;
    background: url(../images/btn_arrow_up.svg) no-repeat;
    background-position: right 5px;
}
.footer_wrap .footer_inner .lang_box .lang_option {
    display: none;
}

.footer_wrap .footer_inner .lang_box.on > a > span {
    background: url(../images/btn_arrow_down.svg)no-repeat;
    background-position: right 6px;
    display: block;
}

.footer_wrap .footer_inner .lang_box.on .lang_option {
    display: block;
    border: 1px solid #a5a298;
    position: absolute;
    width: 100%;
    top: auto;
    bottom: 45px;
    padding: 20px 24px;
    z-index: 99;

}


.footer_wrap .footer_inner .lang_box.on .lang_option > li+li {
    margin-top: 10px;
}

.footer_wrap .footer_inner .lang_box.on .lang_option  >li > a > span {
    color: #222;
    font-size: 14px;
}

@media screen and (max-width: 1390px) {
    .footer_wrap .footer_inner .lang_box {
        top: 118px;
        right: auto;
        left: 354px;
    }
}
@media screen and (max-width: 850px) {
    .footer_wrap .footer_inner {
        text-align: center;
        height: 78px;
        padding:0;
    }
    .footer_wrap .footer_inner .footer_logo {position: static; top: 0; left: 0; padding-top: 25px;}
    .footer_wrap .footer_inner .footer_logo > a {text-align: center;}
    .footer_wrap .footer_inner .footer_logo > a > span {display: block; color: #666; font-size: 16px;}
}