@charset "utf-8";

html {
	font-size:100.01%;
}
body {
	font:normal 12px "애플고딕", AppleGothic, "돋움", dotum, Arial, Verdana, sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol, li {
	list-style:none;
}
img {
	border:0;
}
a { text-decoration: none; }
fieldset {*{box-sizing: border-box;}
html, body{
	width: 100%;
	min-width: 851px;
}
body, input, textarea, select, button, table, h1, h2, h3, h4, h5, h6 {
    font-family: "aritaM", "Malgun Gothic","맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif;
    color: #222;
    font-weight: normal;
}
	border:0;
}
legend {
	vertical-align:middle;
}
em {
	font-style: normal;
}
hr {
	clear:both;	
	height:0; 
	visibility:hidden; 
	overflow:hidden;
	display: none;
}
img{
	border: none;
}
.blind {
	visibility: hidden;
	text-indent: -10000px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
}